table.playertable {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 18px;
    width: 70%;
    align: center;
}

table.playertable, .playertable th, .playertable td {
    border: none;
    border-bottom: 1px solid #C8C8C8;
    border-collapse: collapse;
    text-align: center;
    padding: 2px;
    font-size: 14px;
}

.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
    font-weight: 600;
    text-shadow: white 0 0 4px;

 }
.playertable th {
    background-color: #327dff;
    color: white;
}

.playertable tr:nth-child(odd)    { background-color:#eee; }
.playertable tr:nth-child(even)   { background-color:#fff; }

.playertable tr:hover             { background-color: #ffff99;}

.container {
    margin: auto;
    width: 100%;
    padding-top:100px
}

table.playertable .header {
	height: 30px;
}


#player-stat {
    text-align: center;
    position: fixed;
    z-index: 4;
    height: 90px;
    width: 100%;
    border-bottom: solid #dedede;
}

#player-stat-title {
    font-weight: bold;
    float: left;
    font-size: 30px;
    margin-top: 20px;
}

