table.tablesorter {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 18px;
    width: 100%;
}

table.tablesorter, .tablesorter th, .tablesorter td {
    border: none;
    border-bottom: 1px solid #C8C8C8;
    border-collapse: collapse;
    text-align: center;
    padding: 2px;
    font-size: 14px;
}

.tablesorter th {
    background-color: #327dff;
    color: white;
}

.tablesorter tr {
    cursor: pointer;
}

.tablesorter tr:nth-child(odd)    { background-color:#eee; }
.tablesorter tr:nth-child(even)   { background-color:#fff; }

.tablesorter tr:hover             { background-color: #ffff99;}

.container {
    margin: auto;
    width: 100%;
    padding-top:100px
}

table.tablesorter .header {
	height: 30px;
}

table.tablesorter .headerSortUp {
	background-image: url(asc.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-color: #0151dc;
}
table.tablesorter .headerSortDown {
	background-image: url(desc.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-color: #0151dc;
}

#football-brand {
    text-align: center;
    position: fixed;
    z-index: 4;
    height: 90px;
    width: 100%;
    border-bottom: solid #dedede;
}

#football-brand-text {
    font-weight: bold;
    float: none;
    font-size: 35px;
    margin-bottom: 200px;
}

#submit {
    height: 35px;
    width: 220px;
    font-size: 15px;
    margin-top: 20px;
}

#source {
    height: 35px;
    width: 220px;
    font-size: 15px;
    margin-top: 40px;
}