<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница аутентификации</title>
    <link rel="icon" type="image/ico" href="./static/images/favicon.ico" />

        <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">

    <link rel=stylesheet type=text/css href="./static/auth.css">
    <link rel=stylesheet type="text/css" href="./static/table.css">
     <script src="./static/popupscript.js"></script>
</head>
<body>
<div align="center">
<form class="form-horizontal" method = "post" style="width:500px; margin-top: 50px;">

  <div class="form-group">
    <label class="col-sm-2 control-label" >Логин</label>
    <div class="col-sm-10">
      <input type="login" width="40px" class="form-control" name ="login" size="100px">
    </div>
  </div>

  <div class="form-group" style = "formstyle">
    <label class="col-sm-2 control-label">Пароль</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" name = "password" width="100px">
    </div>
  </div>

  <div class="form-group" style="margin-top: 50px;">
    <h4 style="padding-left: 17%;">Код из окна перенаправления</h4>
      <label class="col-sm-2 control-label">Код</label>
    <div class="col-sm-10">
      <input type="text" width="40px" class="form-control" name ="code" size="100px">
        <h3><p class="bg-danger">
        {{ message }}
        </p></h3>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary" style="padding: 6px 190px;">Вход</button>
    </div>
  </div>
</form>
</div>

<script>
    var encodedStr = '{{google_auth_link}}';

    var parser = new DOMParser;
    var dom = parser.parseFromString(
        '<!doctype html><body>' + encodedStr,
        'text/html');
    var decodedString = dom.body.textContent;
    window.open(decodedString);

</script>
</body>
</html>