<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Страница аутентификации</title>
    <link rel="icon" type="image/ico" href="./static/images/favicon.ico" />

        <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">

    <link rel=stylesheet type=text/css href="./static/auth.css">
    <link rel=stylesheet type="text/css" href="./static/table.css">
     <script src="./static/popupscript.js"></script>
</head>
<body>
<div align="center">
<h2>Для изменения данных введите логин и пароль</h2>
<form class="form-horizontal" method = "post" style="width:500px; margin-top: 50px;">

  <div class="form-group">
    <label class="col-sm-2 control-label" >Логин</label>
    <div class="col-sm-10">
      <input type="login" width="40px" class="form-control" name ="login" size="100px">
    </div>
  </div>

  <div class="form-group" style = "formstyle">
    <label class="col-sm-2 control-label">Пароль</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" name = "password" width="100px">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary" style="padding: 6px 190px;">Вход</button>
    </div>
  </div>
</form>
</div>
</body>
</html>