<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/ico" href="./static/images/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/bootstrap-select.css">
    <title>Что-то пошло не так...</title>
</head>
<body>
<div align="center">
    <h2>Ошибка! Возможно, Вы ввели неправильный запрос или такой страницы не существует.</h2>
    </br>
    <a href="{{ request_string }}" id="source" class="btn btn-info" align="center">Возврат на главную</a>
</div>
</body>
</html>