<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/ico" href="./static/images/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/bootstrap-select.css">

    <title>Расчет статистики</title>
    <style>
        p {
        font-style: italic;
         }
        .main {
        margin-left: 20px;
        }
    </style>
</head>
<body >
<div class = "main">
<h2>Расчет формы игрока</h2>
</br>
Берется 20 последних игр игрока за текущий и предыдуший год. После чего расчитывается коэффициент очков за эти 20 игр. Если кол-во игр меньше 20, то форма не расчитывается.
<hr>
<h2>Расчет рейтинга игрока</h2>
<div style="width:50%" align="justify">
</br>
Рейтинг игрока рассчитывается за предыдущие 12 месяцев, начиная отсчет с текущего.
Коэффициент расчет будет приблизительно равен 0.083. Текущий месяц будет иметь коэффициент 1, коэффициент предыдущего месяца будет равен коэффициенту текущего месяца — 0.083.
    И так далее каждый последующий месяц будет иметь всё меньший коэффициент, пока он не станет равен нулю.</br>
Пример: Сейчас месяц июль, соответственно статистика будет рассчитываться до августа включительно, все последующие месяца будут иметь коэффициенты равные нулю.</br>

<table class = 'table'>
    <th>Месяц</th>
    <th>Коэффициент</th>
  <tr>
    <td>Июль</td>
      <td>1</td>
  </tr>
      <tr>
    <td>Июнь</td>
      <td>0.917</td>
  </tr>
      <tr>
    <td>Май</td>
      <td>0.834</td>
  </tr>
      <tr>
    <td>Апрель</td>
      <td>0.751</td>
  </tr>
      <tr>
    <td>Март</td>
      <td>0.668</td>
  </tr>
      <tr>
    <td>Февраль</td>
      <td>0.585</td>
  </tr>
      <tr>
    <td>Январь</td>
      <td>0.502</td>
  </tr>
          <tr>
    <td>Декабрь</td>
      <td>0.419</td>
  </tr>
          <tr>
    <td>Ноябрь</td>
      <td>0.336</td>
  </tr>
          <tr>
    <td>Октябрь</td>
      <td>0.253</td>
  </tr>
          <tr>
    <td>Сентябрь</td>
      <td>0.17</td>
  </tr>
          <tr>
    <td>Август</td>
      <td>0.087</td>
  </tr>
          <tr>
    <td>Июль</td>
      <td>0.0</td>
  </tr>
</table>
    </div>
</div>
</body>
</html>