<!doctype html>
<head>
    <meta charset="UTF-8">
    <title>Футбольная статистика</title>
    <link rel="icon" type="image/ico" href="./static/images/favicon.ico" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <link rel=stylesheet type=text/css href="./static/playerstat.css">
    <style>
        .wrapper {
        width:100%;
        }

        .left_block {
        float: left;
        width: 50%;
        margin: auto;
        }

        .right_block {
        float: right;
        width: 50%;
        margin: auto;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default" id="player-stat">
          <a class="navbar-brand player-stat-title" style="margin-left: 10%;" href="?name={{player_name}}">Статистика игрока {{player_name}}</a>
          <a class="navbar-brand player-stat-title" style="float: right; margin-right: 10%;" href="/">Вернуться на главную</a>
    </nav>

    <div class="container" >
            <div class="playerstats" align="center">
                <h2>Последние 10 игр</h2>
            {{ table|safe }}
            </div>
    </div>
    <hr>
<h2 align="center">Достижения</h2>
    <div class="wrapper">
    <div class="left_block" align="center">

<h3>Мама, я в статистике!</h3>
        {% if playerachievments[0] >= 10 %}
        <img src="../static/images/10Games.png" width="100" alt="10GamesCup">
        <center>Достижение заработано!</center>
        {% else %}
<div class="progress"  style="width: 50%" >
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow={{ playerachievments[0] }} aria-valuemin="0" aria-valuemax="10"
       style=" width:{{ playerachievments[0] / 10 * 100}}%">
    </div>
     <span>{{ playerachievments[0] }} / 10</span>

</div>
              {% endif %}
        <h4>Отыграть 10 игр за текущий сезон</h4>
    </br>

        <h3>Я только размялся</h3>
                {% if playerachievments[0] >= 50 %}
        <img src="../static/images/50Games.png" width="100" alt="50GamesCup">
        <center>Достижение заработано!</center>
        {% else %}
        <div class="progress" style="width: 50%">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow={{ playerachievments[0] }} aria-valuemin="0" aria-valuemax="50" style="width:{{ playerachievments[0] / 50 * 100}}%">
      <span>{{ playerachievments[0] }} / 50</span>
       </div>
            </div>
      {% endif %}
                <h4>Отыграть 50 игр за текущий сезон</h4>
    </br>

        <h3>Свой среди своих</h3>
                {% if playerachievments[2] >= 100 %}
        <img src="../static/images/100Games.png" width="100" alt="100GamesCup">
        <center>Достижение заработано!</center>
        {% else %}
        <div class="progress" style="width: 50%">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow={{ playerachievments[2] }} aria-valuemin="0" aria-valuemax="100" style="width:{{ playerachievments[2] }}%">
      <span>{{ playerachievments[2] }} / 100</span>
       </div>
            </div>
      {% endif %}
                <h4>Отыграть 100 игр за всё время</h4>
    </br>

        <h3>Ветеран футбольных действий</h3>
                {% if playerachievments[2] >= 200 %}
        <img src="../static/images/200Games.png" width="100" alt="50GamesCup">
        <center>Достижение заработано!</center>
        {% else %}
        <div class="progress" style="width: 50%">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow={{ playerachievments[2] }} aria-valuemin="0" aria-valuemax="200" style="width:{{ playerachievments[2] / 200 * 100}}%">
      <span>{{ playerachievments[2] }} / 200</span>
       </div>
            </div>
      {% endif %}
                <h4>Отыграть 200 игр за всё время</h4>
    </br>

        <h3>Футбольный маньяк</h3>
                {% if playerachievments[2] >= 500 %}
        <img src="../static/images/500Games.png" width="100" alt="50GamesCup">
        <center>Достижение заработано!</center>
        {% else %}
        <div class="progress" style="width: 50%">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow={{ playerachievments[2] }} aria-valuemin="0" aria-valuemax="500" style="width:{{ playerachievments[2] / 500 * 100}}%">
      <span>{{ playerachievments[2] }} / 500</span>
       </div>
            </div>
      {% endif %}
                <h4>Отыграть 500 игр за всё время</h4>
    </br>
            </div>

<div class="right_block" align="center">


<h3>Новый год, новые победы</h3>
        {% if playerachievments[1] >= 10 %}
        <img src="../static/images/10Wins.png" width="100" alt="10WinsCup">
        <center>Достижение заработано!</center>
        {% else %}
<div class="progress"  style="width: 50%">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow={{ playerachievments[1] }} aria-valuemin="0" aria-valuemax="10"
       style="width:{{ playerachievments[1] / 10 * 100}}%">
    </div>
     <span>{{ playerachievments[1] }} / 10</span>

</div>
              {% endif %}
        <h4>Выиграть 10 игр за текущий год</h4>
    </br>

        <h3>Вошел во вкус</h3>
                {% if playerachievments[1] >= 50 %}
        <img src="../static/images/50Wins.png" width="100" alt="50WinsCup">
        <center>Достижение заработано!</center>
        {% else %}
        <div class="progress" style="width: 50%">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow={{ playerachievments[1] }} aria-valuemin="0" aria-valuemax="50" style="width:{{ playerachievments[1] / 50 * 100}}%">
      <span>{{ playerachievments[1] }} / 50</span>
       </div>
            </div>
      {% endif %}
                <h4>Выиграть 50 игр за текущий сезон</h4>
    </br>

        <h3>Сотка за плечами</h3>
                {% if playerachievments[3] >= 100 %}
        <img src="../static/images/100Wins.png" width="100" alt="100GamesCup">
        <center>Достижение заработано!</center>
        {% else %}
        <div class="progress" style="width: 50%">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow={{ playerachievments[3] }} aria-valuemin="0" aria-valuemax="100" style="width:{{ playerachievments[3] }}%">
      <span>{{ playerachievments[3] }} / 100</span>
       </div>
            </div>
      {% endif %}
                <h4>Выиграть 100 игр за всё время</h4>
    </br>

        <h3>Больше можно уже не выигрывать</h3>
                {% if playerachievments[3] >= 200 %}
        <img src="../static/images/200Wins.png" width="100" alt="50GamesCup">
        <center>Достижение заработано!</center>
        {% else %}
        <div class="progress" style="width: 50%">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow={{ playerachievments[3] }} aria-valuemin="0" aria-valuemax="200" style="width:{{ playerachievments[3] / 200 * 100}}%">
      <span>{{ playerachievments[3] }} / 200</span>
       </div>
            </div>
      {% endif %}
                <h4>Выиграть 200 игр за всё время</h4>
    </br>

        <h3>Я создал слово "победа"</h3>
                {% if playerachievments[3] >= 500 %}
        <img src="../static/images/500Wins.png" width="100" alt="50GamesCup">
        <center>Достижение заработано!</center>
        {% else %}
        <div class="progress" style="width: 50%">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow={{ playerachievments[3] }} aria-valuemin="0" aria-valuemax="500" style="width:{{ playerachievments[3] / 500 * 100}}%">
      <span>{{ playerachievments[3] }} / 500</span>
       </div>
            </div>
      {% endif %}
                <h4>Выиграть 500 игр за всё время</h4>
    </br>
        </div>
    </div>
</body>

