<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/ico" href="./static/images/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/bootstrap-select.css">
    <title>Что-то пошло не так...</title>
</head>
<body>
<div align="center">
    <h2>В данный момент футбольная статистика не работает. В скором времени все заработает (нет).</h2>
    <img src="../static/images/sadsanch.gif" width="100%" >
    </br>
</div>
</body>
</html>