<!doctype html>
<head>
    <meta charset="UTF-8">
    <title>Футбольная статистика</title>
    <link rel="icon" type="image/ico" href="./static/images/favicon.ico" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/bootstrap-select.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="./static/bootstrap-select.js"></script>

    <link rel=stylesheet type=text/css href="./static/table.css">
    <link rel=stylesheet type=text/css href="./static/index.css"/>

    <script src="./static/losers.js"></script>

	<script type="text/javascript" src="./static/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="./static/tablesorter.js?20170725"></script>
	<script type="text/javascript" src="./static/script.js"></script>

    <script type="text/javascript" src="./static/selecthandler.js"></script>

    <script src="./static/players_href_handler.js" type="text/javascript"></script>
</head>

<body>
    <nav class="navbar navbar-default" id="football-brand">
          <a class="navbar-brand" id="football-brand-text" href="../">Футбольная статистика</a>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                {{ table|safe }}
            </div>

            <div class="col-sm-2" style="position: fixed; margin-left: 83%">

                <form method="POST" align="center">

                    <h3>Начало периода:</h3>
                    <select class="selectpicker" data-style="btn-info" data-size="5" data-live-search="true" name="start" id="start"
                            onchange="startSelectionHandler()">
                        {% for year in years %}
                        <optgroup label={{ year }}>
                            {% for month in range(1, 13) %}
                                {% set date = "{:02d}".format(month) + "/" + year|string() %}
                                {% if date == start %}
                                    <option selected="selected"> {{ date }} </option>
                                {% else %}
                                    <option> {{ date }} </option>
                                {% endif %}
                            {% endfor %}
                        </optgroup>
                        {% endfor %}
                    </select>

                    <h3>Конец периода:</h3>
                    <select class="selectpicker" data-style="btn-primary" data-size="5" data-live-search="true" name="end" id="end"
                            onchange="endSelectionHandler()">
                        {{ years.reverse() }}
                        {% for year in years %}
                        <optgroup label={{ year }}>
                            {% for month in range(12, 0, -1) %}
                                {% set date = "{:02d}".format(month) + "/" + year|string() %}
                                {% if date == end %}
                                    <option selected="selected"> {{ date }} </option>
                                {% else %}
                                    <option> {{ date }} </option>
                                {% endif %}
                            {% endfor %}
                        </optgroup>
                        {% endfor %}
                    </select>

                    <input type="submit" value="Рассчитать за период" id="submit" class="btn btn-success btn-group-web">
                    <a href="{{ source_file }}" id="source" class="btn btn-info" align="center" target="_blank">Исходный файл</a>
                    <a href="/howitcalc" id = "source" class="btn btn-warning" align="center" target="_blank">*Как это посчитано?</a>
                    <p class="actualdate">Статистика обновлена {{ actual_date }}</p>
                </form>

            </div>
        </div>

    </div>

    <script>
        addBorderBottom({{last_player_before_losers}});
        startSelectionHandler();
        addHrefToPlayersRows();
    </script>
</body>
